* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #141414;
  font-family: "Didact Gothic", sans-serif;
  font-size: 12pt;
  font-weight: 200;
  color: #fff;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

/* ------------------------------------------------ Section 1 ------------------------------------------------*/
.topo-container {
  position: relative;
  background: #111111 url(../images/imagemTopo.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.arrow-down {
  color: green;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.arrow-down h1 {
  padding: 1rem;
}

.slide-show-topo {
  background: rgba(34, 34, 34, 0.8);
  opacity: 1;
  display: flex;
  position: absolute;
  height: 4rem;
  width: 100%;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.slides-list-topo {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 300%;
  text-align: center;
}

.slide-show-topo {
  overflow: hidden;
}

/* ------------------------------------------------ Section 2 ------------------------------------------------*/
#carousel {
  text-align: center;
  background: #434343;
}

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list {
  --selected-item: 0;
}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list {
  --selected-item: 1;
}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list {
  --selected-item: 2;
}

.section-content {
  padding-top: 4vh;
  width: 100%;
}

.slides-list {
  --selected-item: 3;
  --selected-total: 9;
  list-style-type: none;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--selected-total) * 34%);
  transition: left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: grid;
  grid-auto-flow: column;
}

.slide-show {
  overflow: hidden;
}

.slide-show span#rigth svg {
  position: relative;
}
.slide-show span#left svg {
  position: relative;
}

.slide img {
  border: 0.8vw solid gray;
  margin-left: 3vw;
  width: 15rem;
}

.slide h3 {
  align-items: center;
  justify-items: center;
  font-size: 14px;
  padding-top: 1rem;
  padding-left: 3rem;
}

li.slide p {
  align-items: center;
  justify-items: flex-start;
  font-size: 12px;
  padding: 1rem 0 3rem 2rem;
}

li.slide {
  max-width: 17rem;
  padding-left: 3rem;
}

/* ------------------------------------------------ Section 3 ------------------------------------------------*/
.description-image {
  background: #707070;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.description-image img {
  margin: 1rem 1rem 0 5rem;
  width: 20rem;
  height: 20rem;
  position: relative;
  border: 12px solid #313131;
  border-radius: 100%;
}

.description-image p {
  padding-bottom: 0.5rem;
  text-align: -webkit-center;
  font-size: 14px;
}

.description-image h2 {
  margin-top: 2rem;
  padding-bottom: 1rem;
  text-align: -webkit-center;
}

/* ------------------------------------------------ Section 4 ------------------------------------------------*/
.section-accordion {
  background: #bfbfbf;
  display: flex;
  border-radius: 2px;
  height: 90vh;
}
.accordion-content {
  width: 90vw;
  margin: auto;
}

.accordion {
  background: rgb(255, 255, 255);
  border-radius: 15px;
}

.accordion a {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.9rem 1.8rem;
  color: #fff;
  position: relative;
  border-radius: 15px;
  text-decoration: none;
}

.accordion a.image-btn1 {
  background: #707070;
}

.accordion a.image-btn2 {
  background: #707070;
}

.accordion a.image-btn3 {
  background: #707070;
}

.accordion a.image-btn4 {
  background: #707070;
}

.accordion a::before {
  content: "";
  border-top: 7px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: 25px;
  right: 30px;
}
.accordion a:target::after {
  border-top: 0;
}

.content {
  max-height: 0em;
  transition: 0.3s linear 0s;
  overflow: hidden;
}

.content h3 {
  font-size: 1rem;
  color: #111111;
  margin-bottom: 0;
  margin-left: 2rem;
}

.content span a svg {
  position: absolute;
  right: 0;
  margin-right: 1.5rem;
}

.inner-content {
  padding: 1rem;
  color: gray;
  display: flex;
}

.inner-content > p {
  padding-top: 7vh;
  font-size: 12px;
  justify-content: flex-end;
  margin-left: 1vw;
}

.inner-content img {
  border: 0.5vw solid gray;
  width: 22vw;
  margin-left: 1vw;
}

.accordion + .accordion a {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.accordion:target .content {
  max-height: 20em;
}

.accordion:target a.content::before {
  transform: rotate(-10deg);
  max-height: 0;
}

/* ------------------------------------------------ Section 5 ------------------------------------------------*/
.section-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: linear-gradient(to bottom right, #707070 50%, #434343 50%);
}

.wrap {
  max-width: 960px;
  padding: 2rem 0 2rem 0;
  position: relative;
}

.contato-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
}

.wrap-input {
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 15px;
}

.wrap-input-email {
  width: 46%;
  position: relative;
  background-color: transparent;
  margin-bottom: 15px;
  margin-right: 1vw;
}

.wrap-input-tel {
  width: 46%;
  position: relative;
  background-color: transparent;
  margin-bottom: 15px;
  margin-left: 1vw;
}

input.input {
  height: 50px;
  background: #bfbfbf;
  display: block;
  font-family: Raleway-SemiBold;
  font-size: 15px;
  line-height: 1.2;
  width: 100%;
  border-radius: 15px;
}

textarea.input {
  min-height: 162px;
  padding-top: 1.8vh;
  padding-bottom: 2vh;
  background: #bfbfbf;
  display: block;
  font-family: Raleway-SemiBold;
  font-size: 15px;
  line-height: 1.2;
  width: 100%;
  border-radius: 15px;
}

.input:focus-within {
  background: #ffffff;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.section-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.wrap-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  overflow: hidden;
  border-radius: 20px;
}

.contato-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: -webkit-linear-gradient(
    right,
    #ffffff,
    #494949,
    #ffffff,
    #494949
  );
  background: -o-linear-gradient(right, #ffffff, #494949, #ffffff, #494949);
  background: -moz-linear-gradient(right, #ffffff, #494949, #ffffff, #494949);
  background: linear-gradient(right, #ffffff, #494949, #ffffff, #494949);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contato-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 130px;
  height: 8vh;

  font-family: Raleway-Bold;
  font-size: 16px;
  color: rgb(31, 29, 29);
  line-height: 1.2;
  text-transform: uppercase;
}

.wrap-form-btn:hover .contato-form-bgbtn {
  left: 0;
  background-color: black;
}

/* ------------------------------------------------ Section 6 ------------------------------------------------*/
footer {
  background: #313131;
}

footer h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
}

/* ------------------------------------------------ Mobile ------------------------------------------------*/

@media (max-width: 700px) {
  .topo-container {
    height: 20rem;
  }

  .slide-show-topo {
    height: 3rem;
  }

  .slides-list {
    width: calc(var(--selected-total) * 100%);
  }

  .slide-show span#rigth svg {
    position: relative;
  }
  .slide-show span#left svg {
    position: relative;
  }

  .description-image {
    background: rgb(94, 94, 94);
    padding-top: 3vh;
    padding-bottom: 8vh;
    display: grid;
    text-align: center;
  }

  .inner-content {
    padding: 1.2rem;
  }
  .inner-content h3 {
    margin-bottom: 0.3rem;
  }
  .inner-content {
    padding: 0.8rem;
  }
  .inner-content h3 {
    margin-bottom: 0.3rem;
  }

  .description-image {
    padding-bottom: 1 rem;
  }

  .description-image h2 {
    padding-bottom: 1rem;
    margin-top: 1rem;
  }

  .description-image img {
    margin: 0;
  }

  .inner-content {
    padding: 1rem;
    color: #707070;
    display: grid;
    justify-items: center;
  }

  .inner-content img {
    border: 0.5rem solid #707070;
    width: 15rem;
    margin: 0;
  }

  .inner-content p {
    padding: 0.5rem 1.5rem 0rem 1.5rem;
    text-align: -webkit-center;
  }

  .input {
    padding: 0 20px;
    margin-top: 10px;
  }

  input.input {
    width: 20rem;
  }

  label .label-form {
    width: 2rem;
    padding: 0;
    margin: 0;
  }

  textarea.input {
    min-height: 100px;
    width: 20rem;
  }

  .wrap input {
    text-align: center;
  }

  .contato-form {
    display: grid;
  }

  .contato-form label {
    width: 0;
    font-size: 0;
  }
}
